#logo {
  height: 100%;
  flex-grow: 0;
  padding-right: 20px;
}

header {
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 0px;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #FF0000;
}

body {
  margin: 0px;
}

#logo-name {
  flex-grow: 0;
  padding: 0px;
  margin: 0px;
}

#header-spacer {
  flex-grow: 6;
}

header > nav {
  flex-grow: 0;
}
