/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0em;
  /*overflow: hidden;*/
  background-color: #FFFFFF;
}

#canvas-parent {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

canvas {
  border-width: 0px;
  border-color: "black";
  border-style: solid;
}

