body {
  width: 80%;
  margin-left: 10%;
  background-color: white;
}


.alg-des {
  background-color: lightgrey;
  border: solid #262737;
  padding-left: 1%;
  padding-bottom: 1%;
  width: 47%;
  margin-bottom: 0.3%;
  display:inline-block;
}

*{
  font-family: sans-serif;
}

h1, h2, h3 {
  margin-top: 4%;
}
