body {
  width: 80%;
  margin-left: 10%;
  background-color: white;
}


.alg-des {
  background-color: lightgrey;
  border: solid #262737;
  padding-left: 1%;
  padding-bottom: 1%;
  width: 47%;
  margin-bottom: 0.3%;
  display:inline-block;
}

*{
  font-family: sans-serif;
}

h1, h2, h3 {
  margin-top: 4%;
}

ul.table-of-contents li {
  padding: 5px;
  background-color: lightgrey;
  display: inline-block;
  border: solid #262737;
  border-width: thin;
}

ul.table-of-contents li a {
  text-decoration: none;
}

ul.table-of-contents li a:hover {
  text-decoration: underline;
}

p.avg-turns {
  font-size: 0.8em;
}
